In [93]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline 
sns.set(style="ticks")

# Загрузка и первичный анализ данных¶

In [94]:
datacsv = pd.read_csv('winemag-data-130k-v2.csv')
datacsv.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [95]:
datacsv.dtypes

Unnamed: 0                 int64
country                   object
description               object
designation               object
points                     int64
price                    float64
province                  object
region_1                  object
region_2                  object
taster_name               object
taster_twitter_handle     object
title                     object
variety                   object
winery                    object
dtype: object

In [96]:
datacsv.isnull().sum()

Unnamed: 0                   0
country                     63
description                  0
designation              37465
points                       0
price                     8996
province                    63
region_1                 21247
region_2                 79460
taster_name              26244
taster_twitter_handle    31213
title                        0
variety                      1
winery                       0
dtype: int64

# Обработка пропусков в данных

In [97]:
total_count = data.shape[0]
num_cols = []
for col in datacsv.columns:
    # Количество пустых значений 
    temp_null_count = datacsv[datacsv[col].isnull()].shape[0]
    dt = str(datacsv[col].dtype)
    if temp_null_count>0 and (dt=='float64' or dt=='int64'):
        num_cols.append(col)
        temp_perc = round((temp_null_count / total_count) * 100.0, 2)
        print('Колонка {}. Тип данных {}. Количество пустых значений {}, {}%.'.format(col, dt, temp_null_count, temp_perc))

Колонка price. Тип данных float64. Количество пустых значений 8996, 7.44%.

In [98]:
datacsv.shape[0]

129971

In [99]:
data_null = datacsv[datacsv['price'].isnull()]
data_null.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
13,13,Italy,This is dominated by oak and oak-driven aromas...,Rosso,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Masseria Setteporte 2012 Rosso (Etna),Nerello Mascalese,Masseria Setteporte
30,30,France,Red cherry fruit comes laced with light tannin...,Nouveau,86,NaN,Beaujolais,Beaujolais-Villages,NaN,Roger Voss,@vossroger,Domaine de la Madone 2012 Nouveau (Beaujolais...,Gamay,Domaine de la Madone
31,31,Italy,Merlot and Nero d'Avola form the base for this...,Calanìca Nero d'Avola-Merlot,86,NaN,Sicily & Sardinia,Sicilia,NaN,NaN,NaN,Duca di Salaparuta 2010 Calanìca Nero d'Avola-...,Red Blend,Duca di Salaparuta
32,32,Italy,"Part of the extended Calanìca series, this Gri...",Calanìca Grillo-Viognier,86,NaN,Sicily & Sardinia,Sicilia,NaN,NaN,NaN,Duca di Salaparuta 2011 Calanìca Grillo-Viogni...,White Blend,Duca di Salaparuta

In [100]:
data_null.shape[0]

8996

In [101]:
flt_index = datacsv[datacsv['price'].isnull()].index
flt_index

Int64Index([     0,     13,     30,     31,     32,     50,     54,     79,
               137,    159,
            ...
            129764, 129787, 129794, 129807, 129813, 129844, 129860, 129863,
            129893, 129964],
           dtype='int64', length=8996)

In [102]:
flt_index.shape[0]

8996

In [103]:
data = datacsv.dropna(axis=0, how='any', subset = ['price'])
(datacsv.shape, data.shape)

((129971, 14), (120975, 14))

In [104]:
data.isnull().sum()

Unnamed: 0                   0
country                     59
description                  0
designation              34779
points                       0
price                        0
province                    59
region_1                 19575
region_2                 70683
taster_name              24496
taster_twitter_handle    29416
title                        0
variety                      1
winery                       0
dtype: int64

Удаление некоторых описательных столбцов

In [105]:
del data['description']

In [106]:
data.shape

(120975, 13)

In [107]:
del data['title']
data.shape

(120975, 12)

# Обработка пропусков в категориальных данных

In [108]:
# Выберем категориальные колонки с пропущенными значениями
# Цикл по колонкам датасета
cat_cols = []
for col in data.columns:
    # Количество пустых значений 
    temp_null_count = data[data[col].isnull()].shape[0]
    dt = str(data[col].dtype)
    if temp_null_count>0 and (dt=='object'):
        cat_cols.append(col)
        temp_perc = round((temp_null_count / total_count) * 100.0, 4)
        print('Колонка {}. Тип данных {}. Количество пустых значений {}, {}%.'.format(col, dt, temp_null_count, temp_perc))

Колонка country. Тип данных object. Количество пустых значений 59, 0.0488%.
Колонка designation. Тип данных object. Количество пустых значений 34779, 28.7489%.
Колонка province. Тип данных object. Количество пустых значений 59, 0.0488%.
Колонка region_1. Тип данных object. Количество пустых значений 19575, 16.181%.
Колонка region_2. Тип данных object. Количество пустых значений 70683, 58.4278%.
Колонка taster_name. Тип данных object. Количество пустых значений 24496, 20.2488%.
Колонка taster_twitter_handle. Тип данных object. Количество пустых значений 29416, 24.3158%.
Колонка variety. Тип данных object. Количество пустых значений 1, 0.0008%.

In [109]:
data_country = data[['country']]
data_country.head()

    country
1  Portugal
2        US
3        US
4        US
5     Spain

In [110]:
del data['designation']

In [111]:
del data['region_2']

In [112]:
del data['taster_twitter_handle']

In [113]:
cat_cols = []
for col in data.columns:
    # Количество пустых значений 
    temp_null_count = data[data[col].isnull()].shape[0]
    dt = str(data[col].dtype)
    if temp_null_count>0 and (dt=='object'):
        cat_cols.append(col)
        temp_perc = round((temp_null_count / total_count) * 100.0, 4)
        print('Колонка {}. Тип данных {}. Количество пустых значений {}, {}%.'.format(col, dt, temp_null_count, temp_perc))

Колонка country. Тип данных object. Количество пустых значений 59, 0.0488%.
Колонка province. Тип данных object. Количество пустых значений 59, 0.0488%.
Колонка region_1. Тип данных object. Количество пустых значений 19575, 16.181%.
Колонка taster_name. Тип данных object. Количество пустых значений 24496, 20.2488%.
Колонка variety. Тип данных object. Количество пустых значений 1, 0.0008%.

In [114]:
data.head(2)

,Unnamed: 0,country,points,price,province,region_1,taster_name,variety,winery
1,1,Portugal,87,15.0,Douro,NaN,Roger Voss,Portuguese Red,Quinta dos Avidagos
2,2,US,87,14.0,Oregon,Willamette Valley,Paul Gregutt,Pinot Gris,Rainstorm

In [115]:
data_country['country'].unique()

array(['Portugal', 'US', 'Spain', 'Italy', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia',
       'China'], dtype=object)

In [116]:
data[data['country'].isnull()].shape

(59, 9)

In [117]:
from sklearn.impute import SimpleImputer
from sklearn.impute import MissingIndicator

In [118]:
from sklearn.preprocessing import LabelEncoder

In [119]:
imp2 = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
data_imp_country = imp2.fit_transform(data_country)
data_imp_country

array([['Portugal'],
       ['US'],
       ['US'],
       ...,
       ['France'],
       ['France'],
       ['France']], dtype=object)

In [120]:
np.unique(data_imp_country)

array(['Argentina', 'Armenia', 'Australia', 'Austria',
       'Bosnia and Herzegovina', 'Brazil', 'Bulgaria', 'Canada', 'Chile',
       'China', 'Croatia', 'Cyprus', 'Czech Republic', 'England',
       'France', 'Georgia', 'Germany', 'Greece', 'Hungary', 'India',
       'Israel', 'Italy', 'Lebanon', 'Luxembourg', 'Macedonia', 'Mexico',
       'Moldova', 'Morocco', 'New Zealand', 'Peru', 'Portugal', 'Romania',
       'Serbia', 'Slovakia', 'Slovenia', 'South Africa', 'Spain',
       'Switzerland', 'Turkey', 'US', 'Ukraine', 'Uruguay'], dtype=object)

In [130]:
c1 = pd.DataFrame({'c1':data_imp_country.T[0]})
c1.head()

         c1
0  Portugal
1        US
2        US
3        US
4     Spain

In [122]:
le = LabelEncoder()
le.fit(c1.c1)
data['country_le']=le.transform(c1.c1)
data.head()

C:\Users\cveto\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Unnamed: 0,country,points,price,province,region_1,taster_name,variety,winery,country_le
1,1,Portugal,87,15.0,Douro,NaN,Roger Voss,Portuguese Red,Quinta dos Avidagos,30
2,2,US,87,14.0,Oregon,Willamette Valley,Paul Gregutt,Pinot Gris,Rainstorm,39
3,3,US,87,13.0,Michigan,Lake Michigan Shore,Alexander Peartree,Riesling,St. Julian,39
4,4,US,87,65.0,Oregon,Willamette Valley,Paul Gregutt,Pinot Noir,Sweet Cheeks,39
5,5,Spain,87,15.0,Northern Spain,Navarra,Michael Schachner,Tempranillo-Merlot,Tandem,36

In [123]:
data.isnull().sum()

Unnamed: 0         0
country           59
points             0
price              0
province          59
region_1       19575
taster_name    24496
variety            1
winery             0
country_le         0
dtype: int64

In [139]:
datacsv['designation'].unique().shape

(37980,)

In [125]:
data_province = data[['province']]
data_province.head()

         province
1           Douro
2          Oregon
3        Michigan
4          Oregon
5  Northern Spain

In [126]:
data_imp_province = imp2.fit_transform(data_province)
data_imp_province

array([['Douro'],
       ['Oregon'],
       ['Michigan'],
       ...,
       ['Alsace'],
       ['Alsace'],
       ['Alsace']], dtype=object)

In [129]:
c2 = pd.DataFrame({'c2':data_imp_province.T[0]})
c2.head()

               c2
0           Douro
1          Oregon
2        Michigan
3          Oregon
4  Northern Spain

In [131]:
le = LabelEncoder()
le.fit(c2.c2)
data['province_le']=le.transform(c2.c2)
data.head()

C:\Users\cveto\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Unnamed: 0,country,points,price,province,region_1,taster_name,variety,winery,country_le,province_le
1,1,Portugal,87,15.0,Douro,NaN,Roger Voss,Portuguese Red,Quinta dos Avidagos,30,107
2,2,US,87,14.0,Oregon,Willamette Valley,Paul Gregutt,Pinot Gris,Rainstorm,39,266
3,3,US,87,13.0,Michigan,Lake Michigan Shore,Alexander Peartree,Riesling,St. Julian,39,216
4,4,US,87,65.0,Oregon,Willamette Valley,Paul Gregutt,Pinot Noir,Sweet Cheeks,39,266
5,5,Spain,87,15.0,Northern Spain,Navarra,Michael Schachner,Tempranillo-Merlot,Tandem,36,260

In [132]:
data.isnull().sum()

Unnamed: 0         0
country           59
points             0
price              0
province          59
region_1       19575
taster_name    24496
variety            1
winery             0
country_le         0
province_le        0
dtype: int64